@import "tailwindcss";
@import 'swiper/css/bundle';

html {
  scroll-behavior: smooth;
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out forwards;
}

@keyframes brick-drop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-brick-drop {
  animation: brick-drop 0.8s forwards;
}


